/*  your css code here. If applicable */
.container{
	display:grid;
	background-color:black;
	color:white;
	grid-template-columns:repeat(20,5%);
	grid-template-rows:repeat(40,2.5%);
	height:2000px;
	padding:10px;
}
.square{
	border:1px solid brown;
    margin:2px;
	width:10px;
	height:5px;
	padding:10px;
}
.square-1:hover{
    background-color:rgb(29,29,29);    
}